// Theme imports
@import url(../style/themes/themes.css);
@import url(../style/variables/variables.css);

// Font imports
@font-face {
    font-family: 'Afacad-Regular';
    src: url(../assets/fonts/Afacad-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Minecraft';
    src: url(../assets/fonts/minecraft.woff2) format('woff2');
}

body {
    --shadow-color: rgba(0, 0, 0, 0.35);
    --pink: #EF417E;
    --success-color: #18ad34;

    --error-color: #a32633;
    --error-color-light: #ff5c6b;
    --error-color-dark: #a71d2a;
    --error-color-25: rgba(220,53,69,0.25);
    --error-color-50: rgba(220,53,69,0.5);

    --warning-color: #FFC107;
    --warning-color-light: #ffe066;
    --warning-color-dark: #b28704;
    --warning-color-25: rgba(255,193,7,0.25);
    --warning-color-50: rgba(255,193,7,0.5);

    --info-color: #17A2B8;
    --info-color-light: #3ed6e6;
    --info-color-dark: #11707f;
    --info-color-25: rgba(23,162,184,0.25);
    --info-color-50: rgba(23,162,184,0.5);
    
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    font-family: var(--font-family), sans-serif !important;
    overflow: hidden;
    font-size: 16px;
    font-display: swap;
    background: var(--base-color);
    font-size: var(--font-size-base);
    
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--text-color);
        outline: none;
        font-family: inherit;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:active {
            transform: scale(.96) !important;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        padding: 0;
        margin: 0;
    }

    a {
        transition: all .2s ease;
        color: var(--accent-color);
        text-decoration: none;
        outline: none !important;

        &:hover {
            opacity: .6;
        }

        &:active {
            opacity: 1;
        }

        &:focus {
            opacity: .5;
        }

    }

    input {
        transition: all .2s ease;
        outline: none;
        border: none;
    }

    .app{
        display: flex;
        position: relative;
        flex-grow: 1;
        width: 100vw;
        height: 100vh;

        .main {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            overflow: hidden;

            .m-container {
                background-color: var(--surface-color);
                border-radius: var(--border-radius-20);
                border: 2px solid var(--border-color);
                padding: 1vw;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                .container-header {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px var(--border-color) solid;
                    justify-content: end;
                    color: var(--text-color-muted);
                    max-height: 11vh;
                    min-height: 11vh;
                    padding-block: 1vw;
                    z-index: 1;

                    .info-container{
                        display: flex;
                        flex-direction: column;
                    }
                    .title {
                        color: var(--text-color);
                        font-size: 1.5rem;
                        font-weight: 500;
                    }

                    .container-info-action {
                        display: flex;
                        flex-direction: row;
                        column-gap: 4vw;
                        align-items: end;
                        justify-content: space-between;

                        .container-description {
                            font-size: .87rem;
                        }
                    }
                }
            }
        }
        .instance-icon{
            width: 20px;
        }
    }

    [scroll-horizontal] {
        scroll-behavior: smooth;
    }
    .ram-slider-container {
        display: flex;
        flex-direction: column;
        // align-items: center;
        color: var(--text-color-75);
        row-gap: 5px;
        margin: 10px;
        width: 200px;

        #ram-slider {
            width: 100%;
            appearance: none;
            height: 8px;
            background: #444;
            border-radius: 5px;
            outline: none;
            transition: 0.2s;

            &::-webkit-slider-thumb {
                appearance: none;
                width: 10px;
                height: 16px;
                background: var(--accent-color);
                border-radius: 4px;
                cursor: pointer;

                &:active{
                outline-style: solid;
                outline-width: px;
                outline-color: var(--accent-color-60);
                }
            }
        }

        #ram-value {
            font-weight: bold;
            margin-left: 5px;
        }
    }
    [disabled] {
        opacity: .5;
        cursor: not-allowed !important;

        &:hover {
            box-shadow: none !important;
        }

        &:active {
            transform: none !important;
        }
    }
    [readonly]{
        cursor: not-allowed !important;
    }

    .btn-danger{
        background-color: var(--error-color) !important;
        color: var(--text-color) !important;
    }
    .btn-accent{
        background: linear-gradient(to right, var(--accent-color), var(--accent-color-light)) !important;
        text-shadow: 2px 2px 5px #00000044;
    }
    .credit-owner-text{
        color: var(--accent-color-light) !important;
    }
    .link-primary {
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--text-color) !important;
        }

        &:active {
            color: var(--text-color) !important;
        }
    }

    .hide {
        display: none !important;
    }

    .text-success {
        color: var(--success-color) !important;
    }

    /* Custom Scrollbar Styles */
    *::-webkit-scrollbar {
        width: 5px;
        padding-block: 5px;
        height: 5px;
        border-radius: var(--border-radius-10);
    }

    *::-webkit-scrollbar-thumb {
        background: var(--overlay-color-2);
        border-radius: var(--border-radius-10);
        transition: background 0.2s;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--overlay-color-1);
    }

    *::-webkit-scrollbar-corner {
        background: var(--overlay-color-2);
    }
}