name: Build Electron App and Publish Release

on:
  push:
    branches:
      - main  # Trigger the build when code is pushed to the main branch
  workflow_dispatch:  # Allows for manual triggering

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: windows-latest
            buildFlag: "platform"
          - os: macos-latest
            buildFlag: "platform"
            notarization: true
          - os: ubuntu-latest
            buildFlag: "platform"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      # Linux dependencies for AppImage
      - name: Install Linux build deps
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libfuse2 \
            g++ \
            fakeroot \
            rpm \
            gcc \
            make

      - name: macOS Notarization Setup
        if: matrix.os == 'macos-latest' && matrix.notarization == true
        run: |
          echo "Notarizing macOS build..."
          
          # Path to the keychain
          KEYCHAIN_PATH=~/Library/Keychains/login.keychain

          # Check if the keychain already exists
          if [ ! -f "$KEYCHAIN_PATH" ]; then
            # If the keychain does not exist, create it
            security create-keychain -p "$KEYCHAIN_PASSWORD" login.keychain
          fi
          
          # Unlock the keychain
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"

          # Import the certificate (if it's not already in the keychain)
          security import ${{ secrets.APPLE_DEVELOPER_CERTIFICATE }} -k "$KEYCHAIN_PATH" -P "$CERT_PASSWORD" -T /usr/bin/codesign
          
          # Set keychain settings (timeout 3600 seconds)
          security set-keychain-settings -t 3600 -l "$KEYCHAIN_PATH"

          # Set up codesigning identity
          export CODESIGN_IDENTITY="Developer ID Application: Cosmicfi (Cosmic Boucher)"
          export CODESIGN_KEYCHAIN="$KEYCHAIN_PATH"

    